@{
    ViewBag.Title = "ASP.NET MVC Movie Db";
}

<div class="well">
    <h2>MVC Movie</h2>
</div>
<img src="~/images/welcome.png" />

<div class="container">
    <div class="btn-group btn-group-justified">
        @Html.ActionLink("Log", "Index", "Log", null, new { @class = "btn btn-primary" })
    </div>
</div>
